__pycache__/
.vscode/
env/
*.pyc
*.so
**/__pycache__/
**/.vscode/
**/env/
**/*.pyc
**/*.so
data.castra/
**/data.castra/
*.h5
**/*.h5
*.gz
**/*.gz
*.json.gz
**/*.json.gz
.ipynb_checkpoints/
**/.ipynb_checkpoints/